.rootWrapper{
  box-shadow:1px 1px 1px 1px grey;
  background-color: white;
  height: 100vh;
  width:  100%;
  margin: 0px;
}

.buttonDoughnutWrapper{
  display: table-cell;
  position: relative;
  height: 100%;
  width: 100%;
}

.canvas, canvas{
  width: 100%!important;
  height: 100%!important;
}

.chartjs-size-monitor{
  width: 100%!important;
  height: 100%!important;
}

.sideButtonNav{
  box-shadow:0.5px 0.5px 0.5px 0.5px grey;
  background-color: whitesmoke;
  width: 200px;
  height: 100%;
  display: table-cell;
  margin: 0px;
  float: left;
}
.accountButtons{
  background-color: whitesmoke;
  height: 100%;
  width: 200px;
}
Button, .Button, button, .button, btn, .btn{

  align-items: center!important;
  margin: 0px 50px 0px 0px!important;
  font-size: 150%;
  font-weight: lighter;
  font-family: 'IBM Plex Sans Condensed', sans-serif;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  height: 100px;
  font-size: 20px;

}

Button:hover, .Button:hover, button:hover, .button:hover{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+0,000000+100&0+54,0.65+100 */
  background: -moz-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 54%, rgba(0,0,0,0.65) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 54%,rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 54%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=1 ); /* IE6-9 */

}
canvas, .canvas, .chart, chart{
  width: 100%;
  height: 100%;
  padding: 50px;
}
.doughnutWrapper{
  position: relative;
  height:100%;
  width:100%;
  float: right;

}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}



body {
  margin-left: 200px;
  padding: 0px;
}

.h2, h2 {
  font-size: 150%;
  color: white;
  font-weight: lighter;
  font-family: 'IBM Plex Sans Condensed', sans-serif;
  padding: 15px 10px 10px 20px;
}
.rootHeader{
  box-shadow:2px 2px 2px 2px grey;
  background-color: darkgrey;
  margin: 20px;
}

